<script setup lang="ts">

import { storeToRefs } from 'pinia'
import { useAppSettings } from '@/stores/appSettings'

import GalleryCardCoverWrapper from '@/components/galleries/GalleryCardCoverWrapper.vue'
import TagsElement from '@/components/tags/TagsElement.vue'

const app_settings = useAppSettings()

defineProps({
  item: {
    type: Object,
    required: true,
  },
})

const {
  setting_show_preview_image_in_gallery_list
} = storeToRefs(app_settings)
</script>


<template>
  <v-card>
    <GalleryCardCoverWrapper :item="item">
      <v-card-title :class="{ 'text-h5': true, 'line-through': item.archived }">
        {{ item.name }}
      </v-card-title>
      <v-card-title class="text-h5" v-if="false">
        <del>{{ item.name }}</del>
      </v-card-title>

      <v-card-subtitle>
        {{ item.folder }}
      </v-card-subtitle>
      
      <div class="d-flex flex-no-wrap justify-space-between">
        <v-card-text>
          <div :class="{ 'text--primary': true, 'line-through': item.archived }">
            count: <strong>{{ item.elo_scores_count }}</strong><br />
            <!-- total played: {{ item.total_played }}<br /> -->
            average: <strong>{{ item.average_played }}</strong><br />
            never played: <strong>{{ item.never_played_count }}</strong><br />
            <span v-if="item.folder_REMOVE_ID_count !== undefined">
              R(<strong>{{ item.folder_REMOVE_ID_count }}</strong>) 
              NSFW(<strong>{{ item.folder_NSFW_ID_count }}</strong>) 
              Sel(<strong>{{ item.folder_SELECTED_ID_count }}</strong>) 
              OT(<strong>{{ item.folder_OFF_TOPIC_ID_count }}</strong>) 
            </span>
          </div>
          <div class="mt-2">
            <TagsElement :items="item.tags" />
          </div>
        </v-card-text>
        <v-avatar
          class="ma-3"
          size="125"
          rounded="0"
          v-if="setting_show_preview_image_in_gallery_list"
        >
          <v-img :src="item.best_image.url"></v-img>
        </v-avatar>
      </div>
      <v-card-actions>
        <v-btn
          variant="text"
          :to="{name: 'galleries-images', params: { gallery_id: item['id'] } }"
        >
          View
        </v-btn>
        <v-btn
          class="d-none d-sm-flex"
          variant="text"
          :to="{name: 'gallery-elo', params: { gallery_id: item['id'] } }"
        >
          Elo
        </v-btn>
        <v-btn
          class="d-sm-none"
          variant="text"
          :to="{name: 'gallery-mobile-elo', params: { gallery_id: item['id'] } }"
        >
          Elo Mobile
        </v-btn>
        <v-btn
          variant="text"
          :to="{name: 'gallery-elo-images', params: { gallery_id: item['id'] } }"
        >
          EloResults
        </v-btn>
      </v-card-actions>
    </GalleryCardCoverWrapper>
  </v-card>
</template>


<style scoped>
.line-through {
  text-decoration : line-through;
}
</style>