<script setup lang="ts">

import { useTheme } from 'vuetify'
import { useAppSettings } from '@/stores/appSettings'

const app_settings = useAppSettings()
const theme = useTheme()

defineProps({
  item: {
    type: Object,
    required: true,
  },
})

</script>
<template>
    <v-img
        v-if="app_settings.setting_show_background_in_gallery_list"
        :src="item.best_image.url"
        max-height="270"
        class="align-start"
        width="100%"
        :gradient="theme.global.name.value === 'dark'
            ? 'to bottom, rgba(33,33,33,.9), rgba(33,33,33,1.0)'
            : 'to bottom, rgba(255,255,255,.8), rgba(255,255,255,1.0)'"
        cover
    >
        <slot></slot>
    </v-img>

    <slot
        v-if="!app_settings.setting_show_background_in_gallery_list"
    ></slot>
    
</template>
