<script setup lang="ts">
import { ref, onMounted } from 'vue'

defineProps(['modelValue'])
const emit = defineEmits(['update:modelValue'])

const display_hidden = ref<boolean>(false)

const selected_key = ref<string>('')
const selected_asc = ref<boolean|null>(null)

const possible_sort_list = [
  {
    name: 'average',
    key: 'average_played',
    hidden: false,
  },
  {
    name: 'count',
    key: 'elo_scores_count',
    hidden: false,
  },
  {
    name: 'total played',
    key: 'total_played',
    hidden: false,
  },
  {
    name: 'never played',
    key: 'never_played_count',
    hidden: false,
  },
  {
    name: 'Removed',
    key: 'folder_REMOVE_ID_count',
    hidden: true,
  },
  {
    name: 'NSFW',
    key: 'folder_NSFW_ID_count',
    hidden: true,
  },
  {
    name: 'Selected',
    key: 'folder_SELECTED_ID_count',
    hidden: true,
  },
  {
    name: 'Off topic',
    key: 'folder_OFF_TOPIC_ID_count',
    hidden: true,
  },  
]

function clickSort(key: string) {

  if (selected_key.value !== key) {
    selected_asc.value = null
  }

  selected_key.value = key
  if (selected_asc.value === true) {
    selected_asc.value = false
  } else if (selected_asc.value === false) {
    selected_asc.value = null
    selected_key.value = ''
  } else if (selected_asc.value === null){
    selected_asc.value = true
  }

  localStorage.setItem('selected_key', selected_key.value)
  localStorage.setItem('selected_asc', selected_asc.value ? 'true' : 'false')

  emit('update:modelValue', {
    asc: selected_asc.value,
    key: selected_key.value,
  })
}

onMounted(() => {

  const _store_selected_key = localStorage.getItem('selected_key') || ''
  selected_key.value = _store_selected_key ? _store_selected_key : ''

  const _store_selected_asc = localStorage.getItem('selected_asc')
  selected_asc.value = _store_selected_asc == 'true'
    ? true
    : _store_selected_asc == 'false'
      ? false
      : null
  emit('update:modelValue', {
    asc: selected_asc.value,
    key: selected_key.value,
  })

  if (selected_key.value !== '') {
    const currently_selected = possible_sort_list.find((element) => element.key === selected_key.value)
    if (currently_selected?.hidden) {
      display_hidden.value = true
    }
  }

})

</script>

<template>
    <div class="d-flex flex-row" v-if="true">
      <div 
        v-for="possible_sort in possible_sort_list" 
        v-bind:key="possible_sort.key"
      >
        <div class="ma-1" v-if="!possible_sort.hidden || display_hidden">
          <v-chip
            v-if="selected_asc !== null && possible_sort.key === selected_key"
            :append-icon="selected_asc ? 'mdi-chevron-up' : 'mdi-chevron-down'"
            color="primary"
            @click="clickSort(possible_sort.key)"
          >
            {{ possible_sort.name }}
          </v-chip>
          
          <v-chip
            v-else
            @click="clickSort(possible_sort.key)"
          >
            {{ possible_sort.name }}
          </v-chip>
        </div>
      </div>
      <div 
        class="ma-1"
      >
        <v-chip
          @click="display_hidden = !display_hidden"
        >
          <v-icon v-if="!display_hidden">
            mdi-chevron-right
          </v-icon>
          <v-icon v-if="display_hidden">
            mdi-chevron-left
          </v-icon>
        </v-chip>
    </div>
    </div>
</template>
    