<script setup lang="ts">

const emit = defineEmits<{
    (e: 'shortClick', value: any): void,
    (e: 'longClick', value: any): void
}>()

let timer: any = null
let long_click: any = false


async function pressed() {
    timer = setTimeout(async () => {
        long_click = true
        //console.log("long click detected")
        await emit('longClick', {})
    }, 1000)
}

async function released() {
    clearTimeout(timer)
    if (!long_click) {
        // console.log("short click detected")
        await emit('shortClick', {})
    }
    long_click = false
}

</script>

<template>
    <div @mousedown="pressed" @mouseup="released">
        <slot />
    </div>
</template>