
<script setup lang="ts">

import { ref } from 'vue'
import { storeToRefs } from 'pinia'
import { useAppSettings } from '@/stores/appSettings'
import { useGalleries } from '@/stores/galleries'
import { useEloScore } from '@/stores/eloScore'

const app_settings = useAppSettings()
const galleries_store = useGalleries()
const elo_score_store = useEloScore()

const {
  setting_dark_mode,
  setting_show_preview_image_in_gallery_list,
  setting_show_background_in_gallery_list,
  setting_hightlight_never_played,
  setting_fluid_gallery_list,
  setting_display_archived,
  setting_display_card_element_v2,
  setting_activate_authenticatoion_token,
  setting_authenticatoion_token,
  setting_random_elo_rule,
  setting_random_elo_static_exclude_id_list_count,
  setting_random_elo_activate_filtering,
} = storeToRefs(app_settings)

const init_ranking_progress = ref(0)

async function processInitRankingAllGalleries() {
  const result = await galleries_store.searchGalleries()
  const total_count = result.length
  const progress_step = 100 / total_count

  for (const gallery of result) {
    init_ranking_progress.value += progress_step
    await elo_score_store.initElo(gallery.id)
  }

  init_ranking_progress.value = 0
}

function clearCache() {
  [
    'selected_key',
    'selected_asc',
    'selected_tags_list',
  ]
    .forEach((element) => {
      localStorage.removeItem(element)
    })
  app_settings.resetSettings()
}

</script>
<template>
<v-card>
    <v-toolbar
      dark
      color="primary"
    >
      <v-btn
        icon
        dark
        @click="app_settings.show_settings = false"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-toolbar-title>Settings</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
        dark
        @click="app_settings.reset()"
      >
        <v-icon class="mr-2">mdi-account-reactivate-outline</v-icon>
        Reset default settings
      </v-btn>
    </v-toolbar>
    <v-list
      lines="two"
      subheader
    >
      <v-list-subheader>General</v-list-subheader>

      <v-list-item title="Theme" subtitle="Activate or deactivate dark mode">
        <template v-slot:prepend>
          <v-switch v-model="setting_dark_mode" color="primary" class="mr-2" ></v-switch>
        </template>
      </v-list-item>

      <v-list-item>
        <v-list-item-title>
          Application authentication
        </v-list-item-title>
        <v-list-item-subtitle
          v-if="!setting_activate_authenticatoion_token"
        >
          Activate to set the authentication token
        </v-list-item-subtitle>
        <div>
          <v-text-field
            v-if="setting_activate_authenticatoion_token"
            label="Token"
            v-model="setting_authenticatoion_token"
          ></v-text-field>
        </div>
        <template v-slot:prepend>
          <v-switch v-model="setting_activate_authenticatoion_token" color="primary" class="mr-2" ></v-switch>
        </template>
      </v-list-item>

      <v-divider></v-divider>
      <v-list-subheader>Gallery list</v-list-subheader>

      <v-list-item title="Preview image" subtitle="Show preview image on gallery list">
        <template v-slot:prepend>
          <v-switch v-model="setting_show_preview_image_in_gallery_list" color="primary" class="mr-2" ></v-switch>
        </template>
      </v-list-item>
      <v-list-item title="Image background" subtitle="Show background on cards">
        <template v-slot:prepend>
          <v-switch v-model="setting_show_background_in_gallery_list" color="primary" class="mr-2" ></v-switch>
        </template>
      </v-list-item>
      <v-list-item title="Fluid gallery list" subtitle="Use full width in galleray list with 4 colums instead of 3">
        <template v-slot:prepend>
          <v-switch v-model="setting_fluid_gallery_list" color="primary" class="mr-2" ></v-switch>
        </template>
      </v-list-item>
      <v-list-item title="Archived galleries" subtitle="Display in lists, elo archived galleries">
        <template v-slot:prepend>
          <v-switch v-model="setting_display_archived" color="primary" class="mr-2" ></v-switch>
        </template>
      </v-list-item>
      <v-list-item title="Card Element V2 (Beta)" subtitle="Display development version of card element">
        <template v-slot:prepend>
          <v-switch v-model="setting_display_card_element_v2" color="primary" class="mr-2" ></v-switch>
        </template>
      </v-list-item>

      <v-divider></v-divider>
      <v-list-subheader>Elo ranking</v-list-subheader>

      <v-list-item title="Highlight never played" subtitle="Put blue background to never played propositions">
        <template v-slot:prepend>
          <v-switch v-model="setting_hightlight_never_played" color="primary" class="mr-2" ></v-switch>
        </template>
      </v-list-item>

      <v-list-item title="Init all ELO on galleries" subtitle="Process init or update elo scores on all known galleries">
        <template v-slot:prepend>
          <v-btn class="mr-2" icon @click="processInitRankingAllGalleries()">
              <v-icon>mdi-reload</v-icon>
          </v-btn>
        </template>
        <v-progress-linear class="mt-2"
          v-if="init_ranking_progress != 0"
          v-model="init_ranking_progress"
          height="15"
        >
          <strong>{{ Math.ceil(init_ranking_progress) }}%</strong>
        </v-progress-linear>
      </v-list-item>

      <v-divider></v-divider>
      <v-list-subheader>Random ELO</v-list-subheader>

      <v-list-item title="Random selection rules">
        <v-radio-group v-model="setting_random_elo_rule" >
          <v-radio label="Rule 1 - Fifty percent lowest average, fifty percent next lowest average" value="rule_1"></v-radio>
          <v-radio label="Rule 2 - Three lowest average selected randomly" value="rule_2"></v-radio>
          <v-radio label="Rule 3 - Fifty percent lowest average, fifty percent all others"  value="rule_3"></v-radio>
          <v-radio label="Rule 4 - Simply random gallery" value="rule_4"></v-radio>
        </v-radio-group>
      </v-list-item>

      <v-list-item title="Limit exclude list count">
        <v-radio-group v-model="setting_random_elo_static_exclude_id_list_count" >
          <v-radio label="0 (disabled)" value="0"></v-radio>
          <v-radio label="100" value="100"></v-radio>
          <v-radio label="300"  value="300"></v-radio>
          <v-radio label="500" value="500"></v-radio>
        </v-radio-group>
      </v-list-item>

      <v-list-item title="Random ELO filtered" subtitle="Elo random filtered by galleries filter">
        <template v-slot:prepend>
          <v-switch v-model="setting_random_elo_activate_filtering" color="primary" class="mr-2" ></v-switch>
        </template>
      </v-list-item>


      <v-divider></v-divider>
      <v-list-subheader>Application advanced</v-list-subheader>
      <v-list-item title="Clear local storage" subtitle="Clears all settings, saved sorts, search tags">
        <template v-slot:prepend>
          <v-btn class="mr-2" icon @click="clearCache()">
              <v-icon>mdi-delete-circle-outline</v-icon>
          </v-btn>
        </template>
      </v-list-item>
    </v-list>

  </v-card>
</template>
