<script setup lang="ts">
  const props = defineProps({
    image_list: {
      type: Array<any>,
      required: true,
    }
  })

  const emit = defineEmits<{
    (e: 'clickOnPreviewImage', value: any): void
  }>()
</script>


<template>
  <div
    height="calc(150px)"
    class="scrollable"
  >
    <div class="d-flex" :style="{ width: `${164 * props.image_list.length}px`}">
      <v-card
        class="pa-1 ma-2 text-center"
        v-for="item, index in props.image_list"
        :key="index"
      >
        <v-img
          :height="110"
          :src="item['url']"
          :cover="false"
          @click="emit('clickOnPreviewImage', item)"
        >
          <v-tooltip
            activator="parent"
            location="top"
          >
            score: {{ item['elo_score'].toFixed(2) }}<br />
            played: {{ item['display_count'] }}<br />
            rank: {{ index + 1 }} / {{ props.image_list.length }}
          </v-tooltip>
        </v-img>
      </v-card>
    </div>
  </div>
</template>

<style scoped>
.scrollable {
  overflow-x: scroll;
}
</style>
