<script setup lang="ts">

import { ref, watch } from 'vue'
import { storeToRefs } from 'pinia'
import { useAppSettings } from '@/stores/appSettings'
import { useApplication } from '@/stores/application'
import { useBookmarks } from '@/stores/bookmarks'
import { computed } from 'vue'

const application = useApplication()
const app_settings = useAppSettings()
const bookmark_store = useBookmarks()

const {
  bookmark_list,
} = storeToRefs(bookmark_store)


const {
  setting_hightlight_never_played,
} = storeToRefs(app_settings)

const {
  is_small_screen,
} = storeToRefs(application)


const show_tool_tip = ref(false)

const component_props = defineProps({
  height: {
    type: String,
    required: true,
  },
  pane_element: {
    type: Object,
    required: true,
  },
  pane_identifier: {
    type: String,
    required: true,
  },
  selected_pane: {
    type: Boolean,
    required: true,
  },
  bookmarked: {
    type: Boolean,
    required: false,
    default: undefined,
  },
  elo_score_list: {
    type: Array,
    required: true,
  },
  gallery_action_list: {
    type: Array<any>,
    required: true,
  },
  gallery_count: {
    type: Number,
    required: false,
  },
})

watch(() => component_props.selected_pane, () => {
  show_tool_tip.value = component_props.selected_pane
})

const emit = defineEmits<{
  (e: 'selectingPane', pane_identifier: string): void
  (e: 'triggerWinner', value: any): void
  (e: 'changeChoice', pane_identifier: string): void
  (e: 'triggerAction', value: any): void
  (e: 'triggerBookmark', pane_identifier: string): void
}>()

async function selectingPane(pane_identifier: string) {
  await emit('selectingPane', pane_identifier)
}

async function triggerWinner(winner: string | null, maintain_winner: boolean) {
  await emit('triggerWinner', {
    winner,
    maintain_winner,
  })
}

async function triggerAction(action: any, pane_element: any) {
  await emit('triggerAction', {
    action,
    pane_element,
  })
}

async function changeChoice(pane_identifier: string) {
  await emit('changeChoice', pane_identifier)
}

async function bookmark(pane_identifier: string) {
  await emit('triggerBookmark', pane_identifier)
}

const is_bookmarked = computed(() => {
  return bookmark_list.value
    .some((item: any) => item.filename === component_props.pane_element.filename)
})

</script>

<template>
  <v-sheet
    :height="component_props.height"
    rounded="lg"
    class="px-lg-5 pt-5 pb-1 d-flex flex-column outlined"
    :color="component_props.selected_pane 
      ? 'warning' 
      : component_props.pane_element.display_count 
        ? ''
        : setting_hightlight_never_played ? 'something' : ''"
    :border="component_props.pane_element.display_count ? false: true"
    :elevation="component_props.pane_element.display_count ? 0 : 24"
  >
    <v-img
      v-if="component_props.pane_element !== null"
      :src="component_props.pane_element.url"
      :cover="false"
      class="flex-shrink-1"
    >
      <v-tooltip
        activator="parent"
        location="top"
        v-model="show_tool_tip"
      >
        rank: <strong>{{ component_props.elo_score_list.findIndex((item: any) => item.id == component_props.pane_element.id) + 1 }}</strong><br />
        <span v-if="component_props.gallery_count">
          total: <strong>{{ component_props.gallery_count }}</strong>
        </span>
      </v-tooltip>
    </v-img>
  
    <div  class="flex-shrink-1"> 
      <v-row align="center" justify="center" v-if="!is_small_screen">
        <v-col cols="auto" class="px-1">
          <v-tooltip text="Select this choice" location="top">
            <template v-slot:activator="{ props }">
              <v-btn
                v-bind="props"
                icon="mdi-select"
                :active="props.selected_pane"
                @click="selectingPane(pane_identifier)"
              ></v-btn>
            </template>
          </v-tooltip>
        </v-col>
        <v-col cols="auto" class="px-1">
          <v-tooltip text="Select this choice" location="top">
            <template v-slot:activator="{ props }">
              <v-btn
                v-bind="props"
                :icon="is_bookmarked ? 'mdi-bookmark' : 'mdi-bookmark-outline'"
                @click="bookmark(pane_identifier)"
              ></v-btn>
            </template>
          </v-tooltip>
        </v-col>
        <v-col cols="auto" class="px-1" v-if="false">
          <v-tooltip text="Change this proposition" location="top">
            <template v-slot:activator="{ props }">
              <v-btn
                v-bind="props"
                icon="mdi mdi-refresh"
                @click="changeChoice(pane_identifier)"
              ></v-btn>
            </template>
          </v-tooltip>
        </v-col>
        <v-col cols="auto" class="px-1">
          <v-tooltip text="Open in new tab" location="top">
            <template v-slot:activator="{ props }">
              <v-btn
                v-bind="props"
                icon="mdi-image-area"
                target="_blank"
                :href="component_props.pane_element.url"
              ></v-btn>
            </template>
          </v-tooltip>
        </v-col>

        <template v-for="(action, index) in component_props.gallery_action_list" >
          <v-col
            cols="auto" class="px-1"
            :key="index"
            v-if="action.display !== false"
          >
            <v-btn
              :icon="action.icon"
              @click="triggerAction(action, component_props.pane_element)"
            ></v-btn>
          </v-col>
        </template>

        <v-col cols="auto" class="px-1"
          v-if="component_props.gallery_action_list.filter((action) => action.display === false).length > 0"
        >
          <v-menu
            open-on-hover
          >
            <template v-slot:activator="{ props }">
              <v-btn
                v-bind="props"
                icon="mdi mdi-dots-horizontal"
              ></v-btn>
            </template>
            <v-list>
              <v-list-item
                v-for="(action, index) in component_props.gallery_action_list.filter((action) => action.display === false)"
                :key="index"
              >
                <v-list-item-title>
                  <v-btn
                    :icon="action.icon"
                    @click="triggerAction(action, component_props.pane_element)"
                  ></v-btn>
                </v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-col>


        <v-col cols="auto" class="px-1">
          <v-tooltip text="Equality" location="top">
            <template v-slot:activator="{ props }">
              <v-btn
                v-bind="props"
                icon="mdi mdi-approximately-equal"
                @click="triggerWinner(null, false)"
              ></v-btn>
            </template>
          </v-tooltip>
        </v-col>
        <v-col cols="auto" class="px-1">
          <v-tooltip text="Winner" location="top">
            <template v-slot:activator="{ props }">
              <v-btn
                v-bind="props"
                icon="mdi mdi-check-bold"
                @click="triggerWinner(pane_identifier, false)"
              ></v-btn>
            </template>
          </v-tooltip>
        </v-col>
        <v-col cols="auto" class="px-1">
          <v-tooltip text="Winner and keep choice" location="top">
            <template v-slot:activator="{ props }">
              <v-btn
                v-bind="props"
                icon="mdi-paperclip-check"
                @click="triggerWinner(pane_identifier, true)"
              ></v-btn>
            </template>
          </v-tooltip>
        </v-col>
      </v-row>

      <v-row align="center" justify="center" v-if="is_small_screen">
        <v-col cols="auto" class="px-1">
          <v-menu
            open-on-hover
          >
            <template v-slot:activator="{ props }">
              <v-btn
                v-bind="props"
                icon="mdi mdi-dots-horizontal"
              ></v-btn>
            </template>
            <v-list>
              <v-list-item>
                <v-list-item-title>
                  <v-btn
                    icon="mdi mdi-refresh"
                    @click="changeChoice(pane_identifier)"
                  ></v-btn>
                </v-list-item-title>
              </v-list-item>     
              <v-list-item>
                <v-list-item-title>
                  <v-btn
                    icon="mdi-select"
                    :active="selected_pane"
                    @click="selectingPane(pane_identifier)"
                  ></v-btn>
                </v-list-item-title>
              </v-list-item>
              <v-list-item>
                <v-list-item-title>
                  <v-btn
                    icon="mdi-image-area"
                    target="_blank"
                    :href="component_props.pane_element.url"
                  ></v-btn>
                </v-list-item-title>
              </v-list-item>
              <v-list-item
                v-for="(action, index) in component_props.gallery_action_list"
                :key="index"
              >
                <v-list-item-title>
                  <v-btn
                    :icon="action.icon"
                    @click="triggerAction(action, component_props.pane_element)"
                  ></v-btn>
                </v-list-item-title>
              </v-list-item>

              <v-list-item>
                <v-list-item-title>
                  <v-btn
                    icon="mdi-paperclip-check"
                    @click="triggerWinner(pane_identifier, true)"
                  ></v-btn>
                </v-list-item-title>
              </v-list-item>
              <v-list-item>
                <v-list-item-title>
                  <v-btn
                    icon="mdi mdi-approximately-equal"
                    @click="triggerWinner(null, false)"
                  ></v-btn>
                </v-list-item-title>
              </v-list-item>

            </v-list>
          </v-menu>
        </v-col>
        <v-col cols="auto" class="px-1">
          <v-tooltip text="Winner" location="top">
            <template v-slot:activator="{ props }">
              <v-btn
                v-bind="props"
                icon="mdi mdi-check-bold"
                @click="triggerWinner(pane_identifier, false)"
              ></v-btn>
            </template>
          </v-tooltip>
        </v-col>
      </v-row>
    </div>
  </v-sheet>
</template>



<style>
  .custom-class {
    background: rgb(var(--v-theme-something));
    color: rgba(var(--v-theme-on-something), 0.9);
  }
</style>