<script setup lang="ts">

defineProps({
  has_previous: Boolean,
  has_next: Boolean,
  show_lasts: Boolean,
})

const emit = defineEmits<{
    (e: 'clickPrevious'): void
    (e: 'clickNext'): void
    (e: 'clickFirst'): void
    (e: 'clickLast'): void
}>()

</script>

<template>
  <v-container>
    <v-row
      justify="center"
    >
      <v-col
        cols="2"
      >
      <v-btn
          v-if="show_lasts"
          :disabled="has_previous"
          icon="mdi-page-first"
          size="small"
          variant="tonal"
          @click="emit('clickFirst')"
        ></v-btn>
      </v-col>
      <v-col
        cols="2"
      >
      <v-btn
          :disabled="has_previous"
          icon="mdi-chevron-left"
          size="small"

          variant="tonal"
          @click="emit('clickPrevious')"
        ></v-btn>
      </v-col>
      <v-col
        cols="2"
      >
        <v-btn
          :disabled="has_next"
          icon="mdi-chevron-right"
          size="small"

          variant="tonal"
          @click="emit('clickNext')"
        ></v-btn>
      </v-col>

      <v-col
        cols="2"
      >
        <v-btn
          v-if="show_lasts"
          :disabled="has_next"
          icon="mdi-page-last"
          size="small"

          variant="tonal"
          @click="emit('clickLast')"
        ></v-btn>
      </v-col>

    </v-row>
  </v-container>
</template>