<script setup lang="ts">

import { useRouter } from 'vue-router'
const router = useRouter()

const props = defineProps({
  gallery_id: String,
  gallery_name: String,
  gallery_folder: String,
  gallery_size_count: Number,
  current_index: Number,
  filename: String,
  is_elo_view: Boolean,
})


async function back() {
  if (props.is_elo_view) {
    router.push({ name: 'gallery-elo-images', params: { gallery_id: props.gallery_id }})
  } else {
    router.push({name: 'galleries-images', params: { gallery_id: props.gallery_id } })
  }
}


</script>

<template>
  <v-container>

    <v-row
      justify="space-between"
    >
      <v-col
        cols="2"
      >
        <v-btn
          icon="mdi-chevron-left"
          size="normal"
          variant="tonal"
          @click="back()"
        >
        </v-btn>
      </v-col>
      <v-col
        cols="7"
      >
        <p class="text-body-1">
          {{ filename }}
        </p>
      </v-col>
      <v-col
        cols="3"
      >
        <p class="text-body-1">
          {{ current_index }} / {{ gallery_size_count }}
        </p>
      </v-col>
    </v-row>
    <v-row
      justify="center"
    >
      <v-col
        cols="12"
      >
        <p class="text-body-1 text-center">
          {{ gallery_name }}
        </p>
        <p class="text-caption text-center">
          {{ gallery_folder }}
        </p>
      </v-col>
    </v-row>
  </v-container>
</template>