<script setup lang="ts">

import  SnackBar from '@/components/SnackBar.vue'
import  SettingsElement from '@/components/SettingsElement.vue'

import router from '@/router'

import { useTheme } from 'vuetify'
import { useAppSettings } from '@/stores/appSettings'
import { useApplication } from '@/stores/application'
import { storeToRefs } from 'pinia'
import { onMounted, watch } from 'vue'

const app_settings = useAppSettings()
const application = useApplication()
const theme = useTheme()

const {
  is_small_screen,
} = storeToRefs(application)

theme.global.name.value = 'dark'

const {
  setting_dark_mode,
} = storeToRefs(app_settings)

function updateTheme() {
  theme.global.name.value = setting_dark_mode.value ? 'dark' : 'light'
}

watch(setting_dark_mode, () => {
  updateTheme()
})

onMounted(async () => {
  updateTheme()
  await application.refreshCaches()
  const response = await application.check()
  if (response.status !== 'ok') {
    router.push({ name: 'error' })
  }
})

const links = [
  {
    title: 'Home',
    name: 'home',
    icon: 'mdi-home',
    small_screen_visible: true,
  },
  {
    title: 'Galleries',
    name: 'galleries',
    icon: 'mdi-view-gallery-outline',
    small_screen_visible: true,
  },
  {
    title: 'Random ELO',
    name: 'random-gallery-elo',
    icon: 'mdi-gamepad-circle-down',
    small_screen_visible: true,
  },
  {
    title: 'Random ELO Mob',
    name: 'mobile-random-gallery-elo',
    icon: 'mdi-gamepad-circle-down',
    small_screen_visible: true,
  },
  {
    title: 'Bookmarks',
    name: 'bookmarks',
    icon: 'mdi-bookmark-box',
    small_screen_visible: true,
  },
  {
    title: 'Worst',
    name: 'worst-images',
    icon: 'mdi-bookmark-box',
    small_screen_visible: false,
  },
  {
    title: 'About',
    name: 'about',
    icon: 'mdi-information',
    small_screen_visible: false,
  },
]
</script>


<template>
    <v-app id="inspire">
      <v-app-bar
        class="px-3"
        elevation="1"
        density="compact"
      >
  
        <v-spacer></v-spacer>
  
        <v-tabs
          centered
          color="grey-darken-2"
        >
        <template v-for="link in links">
          <v-tab
            v-if="is_small_screen && link.small_screen_visible"
            :key="link.name"
            :to="{ name : link.name }"
            class="ma-0 pa-0"
          >
            <v-icon>{{ link.icon }}</v-icon>
          </v-tab>
          
          <v-tab
            v-if="!is_small_screen"
            :key="link.name"
            :to="{ name : link.name }"
          >
            {{ link.title }}
          </v-tab>
        </template>
        </v-tabs>
        <v-spacer></v-spacer>
  
        <div class="mt-6" v-if="!is_small_screen">
          <v-switch label="Dark" v-model="setting_dark_mode" color="primary"></v-switch>
        </div>
  
        <div v-if="true">
          <v-dialog
            v-model="app_settings.show_settings"
            fullscreen
            :scrim="false"
            transition="dialog-bottom-transition"
          >
            <template v-slot:activator="{ props }">
              <v-btn v-bind="props" icon>
                <v-icon>mdi-cog</v-icon>
              </v-btn>
            </template>
            <SettingsElement />
          </v-dialog>
        </div>
      </v-app-bar>
  
      <v-main>
        <slot></slot>
      </v-main>
      <SnackBar></SnackBar>
    </v-app>
  </template>
  
  <style scoped>
  .scrollable {
    overflow-y: scroll;
  }
  </style>
  