<script setup lang="ts">
defineProps({
  items: {
    type: Array,
    required: true,
  },
})
</script>

<template>
    <v-chip
      class="mr-1"
      v-for="tag, index in items"
      size="small"
      :key="index"
    >
        {{ tag }}
    </v-chip>
</template>