<script setup lang="ts">
import { ref, onMounted, watch } from 'vue'
import { useGalleries } from '@/stores/galleries'
const galleries_store = useGalleries()

const props = defineProps(
  [
    'modelValue',
    'only_tag_list',
  ]
)
const emit = defineEmits(['update:modelValue'])

const tag_list = ref<any>([])
const selected_tag_list = ref<any>([])

const categories_list = ref<any>([])
const category = ref<any>({})
const selected_in_category = ref<any>({})

onMounted(async () => {

  tag_list.value = await galleries_store.searchGalleryTags()

  if (props.only_tag_list !== undefined && props.only_tag_list !== null && props.only_tag_list.length > 0) {
    tag_list.value = tag_list.value.filter((item: any) => props.only_tag_list.includes(item.name))
  }

  initTagsCategories()
  setInitialSelectedInCategory()

  watch(
    selected_in_category,
    () => {
      const inline_selected = <any>[]
      categories_list.value.forEach(function (_category_name: string) {
        selected_in_category.value[_category_name].forEach((selected: string) => {
          if (!inline_selected.includes(selected)) {
            inline_selected.push(selected)
          }
        })
      })
      selected_tag_list.value = inline_selected
      emit('update:modelValue', selected_tag_list.value)
    },
    {
      deep: true,
    }
  )
 
})


function initTagsCategories() {
  tag_list.value.forEach((item: any) => {
    let _category_name = item.category
    if (_category_name === undefined || _category_name === null || _category_name === '') {
      _category_name = 'uncategorised'
    }
    if (!categories_list.value.includes(_category_name)) {
      categories_list.value.push(_category_name)
      category.value[_category_name] = [
        item,
      ]
      selected_in_category.value[_category_name] = []
    } else {
      category.value[_category_name].push(item)
    }
  })
}


function setInitialSelectedInCategory() {
  categories_list.value.forEach((category_name: string) => {
    category.value[category_name].forEach((category_item: any) => {
      if (props.modelValue.includes(category_item.name)) {
        selected_in_category.value[category_name].push(category_item)
      }
    })
  })
  selected_tag_list.value = props.modelValue
}


function clearSettedTags() {
  const reset_value : any = {}
  categories_list.value.forEach((_category_name: string) => {
    reset_value[_category_name] = []
  })
  selected_in_category.value = reset_value
}

</script>

<template>
  <div class="d-flex flex-row" v-if="tag_list.length > 0">
    <div 
      v-for="category_name, index in categories_list"
      class="pa-2 flex-grow-1"
      :key="index"
    >
      <v-select
        v-if="tag_list.length > 0"
        density="compact"
        v-model="selected_in_category[category_name]"
        :items="category[category_name]"
        item-title="name"
        item-value="name"
        chips
        :label="category_name"
        multiple
      ></v-select>
    </div>
    <v-btn icon class="mt-2 ml-3" v-if="selected_tag_list.length > 0" @click="clearSettedTags()">
      <v-icon>mdi-filter-off-outline</v-icon>
    </v-btn>
  </div>
</template>
    