<script setup lang="ts">

import { defineEmits, ref, watch, onMounted } from 'vue'


const TYPES = [
  'warning',
  'information',
]

const is_visible = ref(false);

const emit = defineEmits<{
  (e: 'update:trigger', value: boolean): void,
}>()

const props = defineProps({
  with_modal: {
    type: Boolean,
    required: false,
    default: false,
  },
  trigger: {
    type: Boolean,
    required: false,
    default: false,
  },
  title: {
    type: String,
    required: true,
  },
  description: {
    type: String,
    required: true,
  },
  type: {
    type: String,
    required: false,
    default: 'information',
  },
  ok_label: {
    type: String,
    required: false,
    default: 'Ok',
  },
})

watch(() => props.trigger, () => {
  if (props.trigger) {
    is_visible.value = true
  }
})

onMounted(() => {
  if (!TYPES.includes(props.type)) {
    console.error(`Unknown type ${props.type}`)
  }
})

function close() {
  is_visible.value = false
  emit('update:trigger', false)
}


</script>

<template>
  <v-dialog
    transition="dialog-top-transition"
    width="auto"
    v-model="is_visible"
    v-if="with_modal"
  >
    <v-card>
      <v-card-title class="text-h5">
        {{ title }}
      </v-card-title>
      <div class="d-flex flex-no-wrap justify-space-between">

        <v-icon class="ml-3 mt-2" aria-hidden="false"  size="x-large" v-if="type == 'warning'">
          mdi-alert-outline
        </v-icon>

        <v-icon class="ml-3 mt-2" aria-hidden="false"  size="x-large" v-if="type == 'information'">
          mdi-information-outline
        </v-icon>

        <v-card-text>
          {{ description }}
        </v-card-text>
      </div>
      <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            @click="close()"
          >
            {{ ok_label }}
          </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <v-card>
    <v-card-title class="text-h5">
      {{ title }}
    </v-card-title>
    <div class="d-flex flex-no-wrap justify-space-between">

      <v-icon class="ml-3 mt-2" aria-hidden="false"  size="x-large" v-if="type == 'warn'">
        mdi-alert-outline
      </v-icon>

      <v-icon class="ml-3 mt-2" aria-hidden="false"  size="x-large" v-if="type == 'info'">
        mdi-information-outline
      </v-icon>

      <v-card-text>
        {{ description }}
      </v-card-text>
    </div>
    <v-card-actions>
        <v-spacer />
        <v-btn
          color="primary"
          @click="close()"
        >
          {{ ok_label }}
        </v-btn>
    </v-card-actions>
  </v-card>
</template>