<script setup lang="ts">

import { defineEmits } from 'vue'

const emit = defineEmits<{
  (e: 'validate'): void,
  (e: 'cancel'): void,
}>()

defineProps({
  title: {
    type: String,
    required: true,
  },
  description: {
    type: String,
    required: true,
  },
  image_url: {
    type: String,
    required: false,
    default: null,
  },
  confirm_label: {
    type: String,
    required: false,
    default: 'Confirm',
  },
  cancel_label: {
    type: String,
    required: false,
    default: 'Cancel',
  },
})

</script>

<template>
  <v-card>
    <div class="d-flex flex-no-wrap justify-space-between">
      <v-avatar
        class="ma-3"
        rounded="0"
        size="125"
        v-if="image_url"
      >
        <v-img :src="image_url"></v-img>
      </v-avatar>
      <div>
        <v-card-title class="text-h5">
          {{ title }}
        </v-card-title>

        <v-card-text>{{ description }}</v-card-text>
      </div>
    </div>
    <v-card-actions>
        <v-spacer />
        <v-btn 
          @click="emit('cancel')"
        >
          {{ cancel_label }}
        </v-btn>

        <v-btn
          color="primary"
          @click="emit('validate')"
        >
          {{ confirm_label }}
        </v-btn>
    </v-card-actions>
  </v-card>
</template>