<script setup lang="ts">
import { RouterView } from 'vue-router'
import  DefaultAppLayout from '@/components/layouts/DefaultAppLayout.vue'

</script>

<template>
  <component :is="$route.meta.layout || DefaultAppLayout">
    <RouterView />
  </component>
</template>
