<template>
  <v-container fluid>
    <v-row>
      <v-col
        cols="12"
        sm="12"
      >
        <v-sheet
          height="calc(100vh - 100px)"
          rounded="lg"
        >
          <div v-html="html_data" class="pl-10 pt-5" />
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue'
import { marked } from 'marked'

const html_data = ref<string>('')
const data = `# Hotkeys

In galleries actions hotkeys can be cutomized

Default hotkeys

* **ArrowLeft**: Left select
* **ArrowRight**: Right select
* **ArrowUp**: Display miniatures
* **ArrowDown**: Hide miniatures
* **Enter**: Validate choise
* **ShiftRight**: Validate and keep choice
* **=**: Equality between propositions

Warning, Custom hotkeys cannot be the same as the default hotkeys

\`\`
onMounted(() => {
  html_data.value = marked.parse(data)
})
\`\`\`\`
`

onMounted(() => {
  html_data.value = marked.parse(data)
})


</script>


