<script setup lang="ts">

import { watch } from 'vue'
import { storeToRefs } from 'pinia'
import { useAppSettings } from '@/stores/appSettings'

const app_settings = useAppSettings()

const {
  setting_activate_authenticatoion_token,
  setting_authenticatoion_token,
} = storeToRefs(app_settings)

watch(setting_authenticatoion_token, () => {
  if (setting_authenticatoion_token.value === '') {
    setting_activate_authenticatoion_token.value = false
  } else {
    setting_activate_authenticatoion_token.value = true
  }
})

</script>

<template>
  <v-container fluid>
    <v-row>
      <v-col
        cols="12"
        sm="12"
      >
        <v-sheet
          height="calc(100vh - 100px)"
          rounded="lg"
        >
          <div class="px-10 pt-5">
            <h1>Unauthorized</h1>
            
            <p>
              You need to provide an authorization key to access content
            </p>
            <v-text-field
              class="pt-5"
              label="Token"
              v-model="setting_authenticatoion_token"
            />
          </div>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template> 
