<script setup lang="ts">

import TagSelectorElement from '@/components/tags/TagSelectorElement.vue'
import TagsElement from '@/components/tags/TagsElement.vue'
import { useBookmarks } from '@/stores/bookmarks'
import { ref, onMounted, computed } from 'vue'
import { storeToRefs } from 'pinia'

const bookmarks_store = useBookmarks()

const {
  bookmark_list,
} = storeToRefs(bookmarks_store)

const selected_tag_list = ref<any>([])
const uniq_existing_tags = ref<any>([])
const loading = ref<boolean>(true)

onMounted(async () => {
  await reload()
  loading.value = false
})

async function removeBookmark(bookmark_id: string) {
  await bookmarks_store.deleteBookmarks(bookmark_id)
  await reload()
}

async function reload() {
  await bookmarks_store.loadBookmarks()
  const existing_tags = bookmark_list.value.map((item: any) => item.gallery.tags).flat()
  uniq_existing_tags.value = [...new Set(existing_tags)]
}


const bookmark_display_list = computed(() => {
  if (selected_tag_list.value && selected_tag_list.value.length > 0) {
    return bookmark_list.value.filter((item: any) => {
      return item.gallery.tags.some((tag: any) => selected_tag_list.value.includes(tag))
    })
  }
  return bookmark_list.value
})

</script>

<template>
  <v-container fluid>

    <TagSelectorElement v-if="!loading" v-model="selected_tag_list" :only_tag_list="uniq_existing_tags" />

    <v-row>
      <v-col
        cols="3" sm="3"
        v-for="bookmark, index in bookmark_display_list"
        :key="index"
      >
        <v-card class="pa-3 text-center">
          <v-img
            :height="220"
            :src="bookmark.url"
            :cover="false"
          />
          <div>
            <div class="mt-2">
              <TagsElement :items="bookmark.gallery.tags" />
            </div>
          </div>

          <v-chip size="small" class="mt-3">
              <strong>{{ bookmark.gallery.name }}</strong> - {{ bookmark.filename }}
          </v-chip>
          <v-card-actions>
            <v-spacer />
            <v-btn
              outlined
              rounded
              @click="removeBookmark(bookmark.id)"
              icon="mdi-delete"
            ></v-btn>

          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
  