<script setup lang="ts">
import { ref, onMounted, onUnmounted } from 'vue'
import { storeToRefs } from 'pinia'

import { useEloScore } from '@/stores/eloScore'
import { useGalleries } from '@/stores/galleries'
import { useBookmarks } from '@/stores/bookmarks'
import { useAppSettings } from '@/stores/appSettings'
import { useRouter } from 'vue-router'

import EloPaneElement from '@/components/galleries_elo/EloPaneElement.vue'
import EloPreviewImagesElement from '@/components/galleries_elo/EloPreviewImagesElement.vue'
import GalleryCardElement from '@/components/galleries/GalleryCardElement.vue'

const props = defineProps({
  gallery_id: {
    type: String,
    required: true,
  }
})
const router = useRouter()
const results_count = ref<number>(0)
const image_list = ref<any>([])
const gallery = ref<any>({})
const gallery_action_list = ref<any[]>([])
const global_exclude_id_list = <any>[]

const left_pane_element = ref<any|null>(null)
const right_pane_element = ref<any|null>(null)

const popup_preview = ref(false)
const popup_preview_data = ref<any>({})

const galleries_store = useGalleries()
const elo_score_store = useEloScore()
const bookmarks_store = useBookmarks()
const app_settings = useAppSettings()

const show_elo_preview_images = ref<boolean>(false)

const {
  show_settings,
} = storeToRefs(app_settings)


onMounted(async () => {
  await bookmarks_store.loadBookmarks()
  await initElo()
  await loadEloResults()
  left_pane_element.value = await eloGetRandom()
  right_pane_element.value = await eloGetRandom()
  gallery.value = await galleries_store.getGallery(props.gallery_id)
  gallery_action_list.value = gallery.value.actions
  document.onkeydown = keyPressedActionMapping
})

onUnmounted(async () => {
  document.onkeydown = null
})

async function initElo() {
  await elo_score_store.initElo(props.gallery_id)
}

async function loadEloResults() {
    image_list.value = await elo_score_store.eloResults(props.gallery_id)
    results_count.value = image_list.value.length
}

const priority_lower_display_count_every = 2
let priority_lower_display_count_every_counter = 0

async function eloGetRandom(exclude_id_list: string[] = []) {
    const result = await elo_score_store.eloGetRandomRepository(
      props.gallery_id,
      {
        exclude_id_list: [].concat(<any>exclude_id_list, global_exclude_id_list),
          priority_lower_display_count: (priority_lower_display_count_every_counter % priority_lower_display_count_every) === 0
            ? true : false
      }
    )
    priority_lower_display_count_every_counter++

    global_exclude_id_list.push(result.id)

    if (global_exclude_id_list.length > (<any>results_count.value / 3)) {
      global_exclude_id_list.shift()
    }

    return result
}

async function changeChoice(pane_identifier: string) {
  const pane = getPaneElementByIdentifier(pane_identifier)
  if (pane) {
    await setEloRandomPane(pane)
  }
}

const selected_pane = ref<string|null>()

function selectingPane(select: string | null = null) {
  if (selected_pane.value === select) {
    selected_pane.value = null
    return
  }
  selected_pane.value = select
}

function clickOnPreviewImage(item: any) {
  const pane = getPaneElementByIdentifier(selected_pane.value)
  if(pane) {
    pane.value = item
    selected_pane.value = null
  } else {
    router.push({name: 'elo-image', params: { gallery_id: props.gallery_id, elo_score_id: item.id } })
  }
}

async function triggerAction(action: any, image: any) {
  if (props.gallery_id && image) {
    await galleries_store.processAction(props.gallery_id, action.id, image.filename)
    await initElo()
    await loadEloResults()

    if (image.id === right_pane_element.value.id) {
      await setEloRandomPane(right_pane_element)
    }

    if (image.id === left_pane_element.value.id) {
      await setEloRandomPane(left_pane_element)
    }
  }
}

async function triggerWinner(winner: string | null, maintain_winner = false) {
  await setWinnerResult(winner)
  if (maintain_winner) {
    if (winner === 'left') {
      await setEloRandomPane(right_pane_element)
      left_pane_element.value = image_list.value.find((item: any) => item.id === left_pane_element.value.id)
    }
    if (winner === 'right') {
      await setEloRandomPane(left_pane_element)
      right_pane_element.value = image_list.value.find((item: any) => item.id === right_pane_element.value.id)
    }
  } else {
    await setEloRandomPane(left_pane_element)
    await setEloRandomPane(right_pane_element)
  }
  await loadEloResults()
}

async function setEloRandomPane(pane: any) {
  pane.value = await eloGetRandom([
    left_pane_element.value.id,
    right_pane_element.value.id,
  ])
}

async function setWinnerResult(winner: string | null) {
  const response_elo = await elo_score_store.eloDuelResult(
      props.gallery_id,
      {
        elo_score_id_1: left_pane_element.value.id,
        elo_score_id_2: right_pane_element.value.id,
        winner: winner === null ? 0 : winner === 'left' ? 1 : 2,
      }
    )
  return response_elo
}

function getPaneElementByIdentifier(pane_identifier: string | null | undefined) {
  if (pane_identifier === 'left') {
    return left_pane_element
  }
  if (pane_identifier === 'right') {
    return right_pane_element
  }
  return null
}


async function keyPressedActionMapping(event: any) {

  event.preventDefault()

  switch (event.code) {
    case 'Escape':
      if (popup_preview.value) {
        popup_preview.value = false
      } else {
        popup_preview_data.value = {
          ...gallery.value,
          ...await galleries_store.getGalleryCardData(gallery.value.id),
        }
        popup_preview.value = true
      }
      break
    case 'KeyA':
      show_settings.value = !show_settings.value
      break
    case 'ArrowUp':
      show_elo_preview_images.value = true
      break
    case 'ArrowDown':
      show_elo_preview_images.value = false
      break
    case 'ArrowLeft':
      selectingPane('left')
      break
    case 'ArrowRight':
      selectingPane('right')
      break
    case 'Enter':
      if (selected_pane.value) {
        triggerWinner(selected_pane.value, false)
        selectingPane(null)
      }
      break
    case 'ShiftRight':
      if (selected_pane.value) {
        triggerWinner(selected_pane.value, true)
      }
      break
    case 'Equal':
      triggerWinner(null, false)
      selectingPane(null)
      break
  }

  if (event.key === 'r') {
    if (selected_pane.value) {
      changeChoice(selected_pane.value)
    } else {
      changeChoice('right')
      changeChoice('left')
    }
  }

  if (selected_pane.value) {
    gallery_action_list.value.forEach((action) => {
      if (action.hotkey && event.key === action.hotkey) {
        const pane_for_action = getPaneElementByIdentifier(selected_pane.value)
        if (pane_for_action) {
          triggerAction(action, pane_for_action.value)
          selectingPane(null)
        }
      }
    })
  }
}


async function triggerBookmark(pane_identifier: string) {
  const pane = getPaneElementByIdentifier(pane_identifier)
  const exists = await bookmarks_store.checkBookmarkExists(props.gallery_id, pane.value.filename)
  if (exists) {
    await bookmarks_store.tryToRemoveBookmark(props.gallery_id, pane.value.filename)
  } else {
    await bookmarks_store.tryToCreateBookmark(props.gallery_id, pane.value.filename)
  }
}

</script>


<template>
  <v-container fluid v-if="!$route.meta.mobile">
    <v-row>
      <v-col
        cols="6"
        sm="6"
        v-if="left_pane_element !== null"
      >
        <elo-pane-element
          pane_identifier="left"
          :height="show_elo_preview_images ? 'calc(100vh - 260px)' : 'calc(100vh - 100px)'"
          :pane_element="left_pane_element"
          :selected_pane="selected_pane == 'left'"
          :elo_score_list="image_list"
          :gallery_action_list="gallery_action_list"
          @selectingPane="selectingPane"
          @changeChoice="changeChoice"
          @triggerWinner="({winner, maintain_winner}) => triggerWinner(winner, maintain_winner)"
          @triggerBookmark="(pane_element) => triggerBookmark(pane_element)"
          @triggerAction="({action, pane_element}) => triggerAction(action, pane_element)"
        ></elo-pane-element>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        v-if="right_pane_element !== null"
      >
        <elo-pane-element
          pane_identifier="right"
          :height="show_elo_preview_images ? 'calc(100vh - 260px)' : 'calc(100vh - 100px)'"
          :pane_element="right_pane_element"
          :selected_pane="selected_pane == 'right'"
          :elo_score_list="image_list"
          :gallery_action_list="gallery_action_list"
          @selectingPane="selectingPane"
          @changeChoice="changeChoice"
          @triggerWinner="({winner, maintain_winner}) => triggerWinner(winner, maintain_winner)"
          @triggerBookmark="(pane_element) => triggerBookmark(pane_element)"
          @triggerAction="({action, pane_element}) => triggerAction(action, pane_element)"
          ></elo-pane-element>
      </v-col>
    </v-row>
    <v-row
      v-if="show_elo_preview_images"
    >
      <v-col
        cols="12"
      >
        <elo-preview-images-element
          :image_list="image_list"
          @clickOnPreviewImage="clickOnPreviewImage"
        ></elo-preview-images-element>
      </v-col>
    </v-row>
  </v-container>

  <v-container fluid v-else>
    <v-row>
      <v-col
        cols="6"
        sm="6"
        v-if="left_pane_element !== null"
      >
        <div class="full-height">
          <v-img
            v-if="left_pane_element !== null"
            :src="left_pane_element.url"
            :cover="false"
            @click="triggerWinner('left')"
          />
        </div>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        v-if="right_pane_element !== null"
      >
        <div class="full-height">
          <v-img
            v-if="right_pane_element !== null"
            :src="right_pane_element.url"
            :cover="false"
            @click="triggerWinner('right')"
          />
        </div>
      </v-col>
    </v-row>
  </v-container>

  <v-dialog
    transition="dialog-top-transition"
    width="auto"
    v-model="popup_preview"
  >
    <template v-slot:default="{}">
      <GalleryCardElement :item="popup_preview_data" />
    </template>
  </v-dialog>
</template>



<style scoped>
.full-height {
  height: 100vh;
}
</style>
