<script setup lang="ts">

import router from '@/router'
import { onMounted, ref } from 'vue'
import { useApplication } from '@/stores/application'

const application = useApplication()

const check_result = ref<any>({})

onMounted(async () => {
  await application.refreshCaches()
  check_result.value = await application.check()
  if (check_result.value.status === 'ok') {
    router.push({ name: 'home' })
  }
})

</script>

<template>
<v-container fluid>
    <v-row>
        <v-col
            cols="12"
            sm="12"
        >
            <v-sheet
            height="calc(100vh - 100px)"
            rounded="lg"
            >
                <div class="px-10 pt-5">
                    <h1> Configuration error detected </h1>

                    <div v-if="check_result.status === 'duplicate_error'">
                        <p>
                            Duplicate id error detected in gallery.json file
                        </p>
                        <p>
                            Duplicated id: <strong>{{ check_result.message }}</strong>
                        </p>
                    </div>
                </div>
            </v-sheet>
        </v-col>
    </v-row>
</v-container>
</template> 
  