<script setup lang="ts">
import { ref, onMounted, watch } from 'vue'
import { useGalleries } from '@/stores/galleries'
import { storeToRefs } from 'pinia'

import GalleryCardElement from '@/components/galleries/GalleryCardElement.vue'
import GalleryCardV2Element from '@/components/galleries/GalleryCardV2Element.vue'
import SortGalleryElement from '@/components/galleries/SortGalleryElement.vue'
import TagSelectorElement from '@/components/tags/TagSelectorElement.vue'

import { useAppSettings } from '@/stores/appSettings'

const app_settings = useAppSettings()

const galleries_store = useGalleries()
const gallery_list = ref<any>([])
const selected_tag_list = ref<any>(
  JSON.parse(localStorage.getItem('selected_tags_list') || '[]')
)

const {
  setting_fluid_gallery_list,
  setting_display_card_element_v2,
} = storeToRefs(app_settings)

const sort_by = ref<object>({
  key: '',
  asc: true,
})

onMounted(async () => {
  await search()
  applySortOnList()
})

watch(selected_tag_list, async () => {
  await search()
  localStorage.setItem('selected_tags_list', JSON.stringify([...selected_tag_list.value]))
  applySortOnList()
})

watch(sort_by,
  async () => {
    applySortOnList()
  },
  {
    deep: true,
  }
)

async function search() {
  const result = await galleries_store.searchGalleriesWithStatistics({
    tag_list: selected_tag_list.value,
  })

  gallery_list.value = galleries_store
    .formatGalleriesWithStatisticsRootCountValues(result)
}


function applySortOnList() {
  const field_obj:any = sort_by.value
  gallery_list.value.sort((first_element:any, second_element:any) => {
    if ((first_element[field_obj.key] - second_element[field_obj.key]) > 0) {
      return field_obj.asc ? 1 : -1
    }
    if ((first_element[field_obj.key] - second_element[field_obj.key]) < 0) {
      return field_obj.asc ? -1 : 1
    }
    if ((first_element[field_obj.key] - second_element[field_obj.key]) === 0) {
      return 0
    }
  })
}
</script>

<template>
  <v-container :fluid="setting_fluid_gallery_list">
    <TagSelectorElement v-model="selected_tag_list" />
    <SortGalleryElement v-model="sort_by" />

    <v-row>
      <v-col
        v-for="item, index in gallery_list"
        :key="index"
        
        :class="setting_fluid_gallery_list ? 'v-col-sm-3' : 'v-col-sm-4'"
        class="pa-5 v-col-xs-12"
      >
        <GalleryCardElement :item="item" v-if="!setting_display_card_element_v2"/>
        <GalleryCardV2Element :item="item" v-if="setting_display_card_element_v2"/>
      </v-col>
    </v-row>
  </v-container>
</template>
    