<script setup lang="ts">

import { ref, onMounted } from 'vue'
import { useEloScore } from '@/stores/eloScore'
import { useGalleriesImages } from '@/stores/galleriesImages'
import { useRouter } from 'vue-router'

const VIEW_TYPE_ELO = 'elo'

const props = defineProps({
  gallery_id: {
    type: String,
    required: true,
  },
  view_type: String,
})

const router = useRouter()
const elo_score_store = useEloScore()
const galleries_images_store = useGalleriesImages()

const image_list = ref<any>([])

onMounted(async () => {
    if (props.view_type === VIEW_TYPE_ELO) {
        image_list.value = await elo_score_store.eloResults(props.gallery_id)
    } else {
        image_list.value = await galleries_images_store.searchImages(props.gallery_id)
    }
})

function viewImage(item: any) {
  if (props.view_type === VIEW_TYPE_ELO) {
    router.push({name: 'elo-image', params: { gallery_id: props.gallery_id, elo_score_id: item.id } })
  } else {
    router.push({ name: 'image', params: { gallery_id: props.gallery_id, filename: item.filename }})
  }
}

</script>

<template>
  <v-container fluid>
    <v-row>
      <v-col
        class="v-col-2 v-col-xs-6"
        v-for="item, index in image_list"
        :key="index"
      >
        <v-card
          class="pa-3 text-center"
          height="200"
          @click="viewImage(item)"
        >
          <v-img
            :height="200"
            :src="item.url"
            :cover="false"
          />
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.scrollable {
  overflow-y: scroll;
}
</style>


