
<script setup lang="ts">
import { computed, ref, onMounted, watch } from "vue"
import { BarChart, useBarChart } from "vue-chart-3"
import { Chart, type ChartData, type ChartOptions, registerables } from "chart.js"

import TagSelectorElement from '@/components/tags/TagSelectorElement.vue'
import SortGalleryElement from '@/components/galleries/SortGalleryElement.vue'

import { useGalleries } from '@/stores/galleries'

const galleries_store = useGalleries()

const sort_by = ref<object>({
  key: '',
  asc: true,
})

const gallery_list = ref<any>([])
const total_galleries_count = ref(0)
const total_images_count = ref(0)
const selected_tag_list = ref<any>(
  JSON.parse(localStorage.getItem('selected_tags_list') || '[]')
)

const averagePlayedDataValues = ref([])
const neverPlayedCountDataValues = ref([])
const eloScoresCountDataValues = ref([])
const totalPlayedDataValues = ref([])
const actionFolderStatsList = <any>ref([])

const dataLabels = ref([])

onMounted(async () => {
  await search()
  applySortOnList()
  updateGraphData()
})

watch(selected_tag_list, async () => {
  await search()
  localStorage.setItem('selected_tags_list', JSON.stringify([...selected_tag_list.value]))
  applySortOnList()
  updateGraphData()
})

watch(sort_by,
  async () => {
    applySortOnList()
    updateGraphData()
  },
  {
    deep: true,
  }
)

function updateGraphData() {
  dataLabels.value = gallery_list.value.map((item: any) => item.name)
  
  averagePlayedDataValues.value = gallery_list.value.map((item: any) => item.average_played)
  neverPlayedCountDataValues.value = gallery_list.value.map((item: any) => item.never_played_count)
  eloScoresCountDataValues.value = gallery_list.value.map((item: any) => item.elo_scores_count)
  totalPlayedDataValues.value = gallery_list.value.map((item: any) => item.total_played)

  total_galleries_count.value = gallery_list.value.length
  total_images_count.value = gallery_list.value
    .map((item: any) => item.elo_scores_count)
    .reduce((accumulator: any, currentValue: any) => accumulator + currentValue, 0)

  const all_existing_actions : any = []

  gallery_list.value.forEach((item : any) => {
    item.actions.forEach((action : any) => {
        all_existing_actions.push({
          id: action.id,
          name: action.name,
          folder_file_count: action.folder_file_count ? action.folder_file_count : 0,
        })

        const index = actionFolderStatsList.value.findIndex((stat : any) => stat.id === action.id)
        if (index >= 0) {
          actionFolderStatsList.value[index].folder_file_count += action.folder_file_count
        } else {
          actionFolderStatsList.value.push({
            id: action.id,
            name: action.name,
            folder_file_count: action.folder_file_count ? action.folder_file_count : 0,
          })
        }
    })
  })

}


async function search() {
  const result = await galleries_store.searchGalleriesWithStatistics({
    tag_list: selected_tag_list.value,
  })
  
  gallery_list.value = galleries_store
    .formatGalleriesWithStatisticsRootCountValues(result)
}


function applySortOnList() {
  const field_obj:any = sort_by.value
  gallery_list.value.sort((first_element:any, second_element:any) => {
    if ((first_element[field_obj.key] - second_element[field_obj.key]) > 0) {
      return field_obj.asc ? 1 : -1
    }
    if ((first_element[field_obj.key] - second_element[field_obj.key]) < 0) {
      return field_obj.asc ? -1 : 1
    }
    if ((first_element[field_obj.key] - second_element[field_obj.key]) === 0) {
      return 0
    }
  })
}

Chart.register(...registerables)

const colors_palette = [
  '#F5C63C',
  '#F47F6B',
  '#BB5098',
  '#7A5197',
  '#5344A9',
]

const chartData = computed<ChartData<"bar">>(() => ({
  labels: dataLabels.value,
  datasets: [
    {
      label: 'Average played',
      borderColor: colors_palette[0],
      backgroundColor: colors_palette[0],
      data: averagePlayedDataValues.value,
      hidden: false,
    },
    {
      label: 'Never played count',
      borderColor: colors_palette[1],
      backgroundColor: colors_palette[1],
      data: neverPlayedCountDataValues.value,
      hidden: true,
    },
    {
      label: 'Total images',
      borderColor: colors_palette[2],
      backgroundColor: colors_palette[2],
      data: eloScoresCountDataValues.value,
      hidden: true,
    },
    {
      label: 'Total played',
      borderColor: colors_palette[3],
      backgroundColor: colors_palette[3],
      data: totalPlayedDataValues.value,
      hidden: true,
    }, 
  ],
}))

const options = computed<ChartOptions<"bar">>(() => ({
  plugins: {
    legend: {
      position: 'top',
    },
    title: {
      display: true,
      text: "Bar chart",
    },
  },
}))

const { barChartProps } = useBarChart({
  chartData,
  options,
})

</script>

<template>
  <v-container fluid>
    <TagSelectorElement v-model="selected_tag_list" />
    <SortGalleryElement v-model="sort_by" />
    <v-row class="mt-1">
      <v-col
        cols="2"
        sm="2"
      >
        <v-sheet
          rounded="lg"
        >
          <div class="pa-2 pl-3">
            <p>Galleries {{ total_galleries_count }}</p>
          </div>
        </v-sheet>
      </v-col>
      <v-col
        cols="2"
        sm="2"
      >
        <v-sheet
          rounded="lg"
        >
          <div class="pa-2 pl-3">
            <p>Total images {{ total_images_count }}</p>
          </div>
        </v-sheet>
      </v-col>
      <v-col
        cols="8"
        sm="8"
      >
        <v-sheet
          rounded="lg"
        >
          <div class="pa-2 pl-3">
            <p><strong>actions </strong> 
              <template v-for="stat, index in actionFolderStatsList">
                <span 
                  :key="index"
                  v-if="stat.folder_file_count > 0"
                >
                  {{ stat.name }} (<strong>{{ stat.folder_file_count }}</strong>), 
                </span>
              </template>
            </p>
          </div>
        </v-sheet>
      </v-col>
    </v-row>
    <v-row>
      <v-col
        cols="12"
        sm="12"
      >
        <v-sheet
          rounded="lg"
        >
          <div class="pa-10">
            <BarChart v-bind="barChartProps" />
          </div>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>
