<script setup lang="ts">

import { ref, onMounted, onUnmounted } from 'vue'
import { storeToRefs } from 'pinia'
import { useEloScore } from '@/stores/eloScore'
import { useGalleries } from '@/stores/galleries'
import { useAppSettings } from '@/stores/appSettings'
import { useBookmarks } from '@/stores/bookmarks'

import EloPaneElement from '@/components/galleries_elo/EloPaneElement.vue'
import GalleryCardElement from '@/components/galleries/GalleryCardElement.vue'
import ConfirmationElement from '@/components/generic_modals/ConfirmationElement.vue'

import LongClickBehaviour from '@/components/LongClickBehaviour.vue'
import AlertElement from '@/components/generic_modals/AlertInfoElement.vue'


const gallery_id = ref<any>()
const gallery_list = <any>[]

const image_list = ref<any>([])
const gallery = ref<any>({})
const gallery_action_list = ref<any[]>([])
const global_exclude_id_list = <any>[]

const left_pane_element = ref<any|null>(null)
const right_pane_element = ref<any|null>(null)

const popup_preview = ref(false)
const popup_mobile_actions = ref(false)
const popup_preview_data = ref<any>({})

const galleries_store = useGalleries()
const elo_score_store = useEloScore()
const app_settings = useAppSettings()
const bookmarks_store = useBookmarks()

const challenges_count = ref(0)

const {
  setting_random_elo_rule,
  setting_random_elo_static_exclude_id_list_count,
  show_settings,
  setting_random_elo_activate_filtering,
} = storeToRefs(app_settings)

onMounted(async () => {
  challenges_count.value = 0

  await loadGalleries()
  loadRandomGalleryAndInitElo()
  await bookmarks_store.loadBookmarks()
})


onUnmounted(async () => {
  document.onkeydown = null
})


async function loadRandomGalleryAndInitElo() {
  challenges_count.value += 1

  if (challenges_count.value % 5 === 0) {
    loadGalleries()
  }

  gallery_id.value = galleries_store.selectRandomGallery(gallery_list.value, setting_random_elo_rule.value)
  await initGalleryElo()
}


async function loadGalleries() {

  if (setting_random_elo_activate_filtering.value) {
    gallery_list.value = await galleries_store.searchGalleriesWithStatistics({
      tag_list: JSON.parse(localStorage.getItem('selected_tags_list') || '[]'),
    })
  } else {
    gallery_list.value = await galleries_store.searchGalleriesWithStatistics()
  }
}


async function initGalleryElo() {
  if (!gallery_id.value) {
    console.log('No gallery selected')
    return
  }
  await elo_score_store.initElo(gallery_id.value)
  await loadEloResults()
  await Promise
    .all([
      eloGetRandom(),
      eloGetRandom(),
    ])
    .then(([left, right]) => {
      left_pane_element.value = left
      right_pane_element.value = right
    })

  if (left_pane_element.value.id === right_pane_element.value.id) {
    right_pane_element.value = await eloGetRandom()
  }
  gallery.value = gallery_list.value.find((item: any) => item.id === gallery_id.value)

  gallery_action_list.value = gallery.value.actions
  document.onkeydown = keyPressedActionMapping
}

async function loadEloResults() {
    image_list.value = await elo_score_store.eloResults(gallery_id.value)
}


async function eloGetRandom(exclude_id_list: string[] = []) {
    const result = await elo_score_store.eloGetRandomRepository(
      gallery_id.value,
      {
        exclude_id_list: [].concat(<any>exclude_id_list, global_exclude_id_list),
        priority_lower_display_count: true,
      }
    )

    global_exclude_id_list.push(result.id)

    if (Number(setting_random_elo_static_exclude_id_list_count.value) > 0) {
      if (global_exclude_id_list.length > Number(setting_random_elo_static_exclude_id_list_count.value)) {
        global_exclude_id_list.shift()
      }
    } else {
      if (global_exclude_id_list.length > (<any>image_list.value.length / 3)) {
        global_exclude_id_list.shift()
      }
    }

    return result
}

async function changeChoice(pane_identifier: string) {
  const pane = getPaneElementByIdentifier(pane_identifier)
  if (pane) {
    await setEloRandomPane(pane)
  }
}

const selected_pane = ref<string|null>()
function selectingPane(select: string | null = null) {
  if (selected_pane.value === select) {
    selected_pane.value = null
    return
  }
  selected_pane.value = select
}

async function triggerAction(action: any, image: any) {
  if (gallery_id.value && image) {
    await galleries_store.processAction(gallery_id.value, action.id, image.filename)
    await elo_score_store.initElo(gallery_id.value)

    if (image.id === right_pane_element.value.id) {
      await setEloRandomPane(right_pane_element)
    }

    if (image.id === left_pane_element.value.id) {
      await setEloRandomPane(left_pane_element)
    }
  }
}

async function triggerWinner(winner: string | null, maintain_winner = false) {
  if (maintain_winner) {
    console.log('MISSING FEATURE: maintain_winner not managed')
  }
  await setWinnerResult(winner)
  await loadRandomGalleryAndInitElo()
}

async function setEloRandomPane(pane: any) {
  pane.value = await eloGetRandom([
    left_pane_element.value.id,
    right_pane_element.value.id,
  ])
}

async function setWinnerResult(winner: string | null) {
  const response_elo = await elo_score_store.eloDuelResult(
      gallery_id.value,
      {
        elo_score_id_1: left_pane_element.value.id,
        elo_score_id_2: right_pane_element.value.id,
        winner: winner === null ? 0 : winner === 'left' ? 1 : 2,
      }
    )
  return response_elo
}

function getPaneElementByIdentifier(pane_identifier: string | null | undefined) {
  if (pane_identifier === 'left') {
    return left_pane_element
  }
  if (pane_identifier === 'right') {
    return right_pane_element
  }
  return null
}


async function keyPressedActionMapping(event: any) {
  event.preventDefault()
  switch (event.code) {
    case 'Escape':
      if (popup_preview.value) {
        popup_preview.value = false
      } else {
        popup_preview_data.value = {
          ...gallery.value,
          ...await galleries_store.getGalleryCardData(gallery.value.id),
        }
        popup_preview.value = true
      }
      break
    case 'KeyA':
      show_settings.value = !show_settings.value
      break
    case 'ArrowLeft':
      selectingPane('left')
      break
    case 'ArrowRight':
      selectingPane('right')
      break
    case 'Enter':
      if (selected_pane.value) {
        triggerWinner(selected_pane.value, false)
        selectingPane(null)
      }
      break
    case 'Equal':
      triggerWinner(null, false)
      selectingPane(null)
      break
  }

  if (selected_pane.value) {
    gallery_action_list.value.forEach((action) => {
      if (action.hotkey && event.key === action.hotkey) {
        const pane_for_action = getPaneElementByIdentifier(selected_pane.value)
        if (pane_for_action) {
          triggerAction(action, pane_for_action.value)
          selectingPane(null)
        }
      }
    })
  }
}

async function triggerBookmark(pane_identifier: string) {
  const pane = getPaneElementByIdentifier(pane_identifier)
  const exists = await bookmarks_store.checkBookmarkExists(gallery_id.value, pane.value.filename)
  if (exists) {
    await bookmarks_store.tryToRemoveBookmark(gallery_id.value, pane.value.filename)
  } else {
    await bookmarks_store.tryToCreateBookmark(gallery_id.value, pane.value.filename)
  }
}

const long_press_pane = ref<any>({})

async function mobileLongClickPopUp(pane_element: any) {
  long_press_pane.value = pane_element
  popup_mobile_actions.value = true
}

async function mobileRemoveItem() {
  triggerAction({ id: 'REMOVE_ID' }, long_press_pane.value)
  popup_mobile_actions.value = false
  alert_trigger.value = true
}

async function mobileCancelPopUp() {
  popup_mobile_actions.value = false
}

const alert_trigger = ref(false);


</script>


<template>
  <v-container fluid v-if="!$route.meta.mobile">
    <v-row>
      <v-col
        cols="6"
        sm="6"
        v-if="left_pane_element !== null"
      >
        <elo-pane-element
          pane_identifier="left"
          height="calc(100vh - 100px)"
          :pane_element="left_pane_element"
          :selected_pane="selected_pane == 'left'"
          :elo_score_list="image_list"
          :gallery_action_list="gallery_action_list"
          :gallery_count="gallery.elo_scores_count"
          :bookmarked="false"
          @selectingPane="selectingPane"
          @changeChoice="changeChoice"
          @triggerBookmark="(pane_element) => triggerBookmark(pane_element)"
          @triggerWinner="({winner, maintain_winner}) => triggerWinner(winner, maintain_winner)"
          @triggerAction="({action, pane_element}) => triggerAction(action, pane_element)"
        ></elo-pane-element>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        v-if="right_pane_element !== null"
      >
        <elo-pane-element
          pane_identifier="right"
          height="calc(100vh - 100px)"
          :pane_element="right_pane_element"
          :selected_pane="selected_pane == 'right'"
          :elo_score_list="image_list"
          :gallery_action_list="gallery_action_list"
          :gallery_count="gallery.elo_scores_count"
          :bookmarked="false"
          @selectingPane="selectingPane"
          @changeChoice="changeChoice"
          @triggerBookmark="(pane_element) => triggerBookmark(pane_element)"
          @triggerWinner="({winner, maintain_winner}) => triggerWinner(winner, maintain_winner)"
          @triggerAction="({action, pane_element}) => triggerAction(action, pane_element)"
          ></elo-pane-element>
      </v-col>
    </v-row>
  </v-container>

  <v-container v-else fluid >
    <v-row>
      <v-col
        cols="6"
        sm="6"
        v-if="left_pane_element !== null"
      >
        <div class="full-height">

          <LongClickBehaviour
            @shortClick="triggerWinner('left')"
            @longClick="mobileLongClickPopUp(left_pane_element)"
            v-if="left_pane_element !== null"
          >
            <v-img
              :src="left_pane_element.url"
              :cover="false"
            >
            </v-img>
          </LongClickBehaviour>
        </div>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        v-if="right_pane_element !== null"
      >
        <div class="full-height">
          <LongClickBehaviour
            @shortClick="triggerWinner('right')"
            @longClick="mobileLongClickPopUp(right_pane_element)"
            v-if="right_pane_element !== null"
          >
            <v-img
              :src="right_pane_element.url"
              :cover="false"
            />
          </LongClickBehaviour>
        </div>
      </v-col>
    </v-row>
  </v-container>

  <v-dialog
    transition="dialog-top-transition"
    width="auto"
    v-model="popup_preview"
  >
    <template v-slot:default="">
      <GalleryCardElement :item="popup_preview_data" />
    </template>
  </v-dialog>
  
  <v-dialog
    transition="dialog-top-transition"
    width="auto"
    v-model="popup_mobile_actions"
  >
    <ConfirmationElement
      title="Remove image"
      description="Do you want to remove this image?"
      :image_url="long_press_pane.url"
      confirm_label="Remove"
      @validate="mobileRemoveItem()"
      cancel_label="Cancel"
      @cancel="mobileCancelPopUp()"
    />
  </v-dialog>


  <AlertInfoElement
    :with_modal="true"
    v-model:trigger="alert_trigger"
    type="information"
    title="Removed"
    description="The image has been removed from the gallery"
  />
</template>

<style scoped>
.full-height {
  height: 100vh;
}
</style>
