<script setup lang="ts">

import { ref, onMounted, watch } from 'vue'
import { useEloScore } from '@/stores/eloScore'
import { useGalleries } from '@/stores/galleries'
import { useRouter } from 'vue-router'
import SortGalleryElement from '@/components/galleries/SortGalleryElement.vue'

const galleries_store = useGalleries()
const elo_score_store = useEloScore()
const router = useRouter()

const image_list = ref<any>([])
const galleries_list = ref<any>([])
const sort_by = ref<object>({
  key: '',
  asc: true,
})

onMounted(async () => {
  galleries_list.value = await galleries_store.searchGalleriesWithStatistics()
  for (const gallery of galleries_list.value) {
      const elo_image_list = await elo_score_store.eloResults(gallery.id)
      const worst_image = elo_image_list[elo_image_list.length - 1]
      image_list.value.push({
        ...worst_image,
        gallery,
        count: elo_image_list.length,
      })
      console.log(gallery)
  }
  applySortOnList()
})

function applySortOnList() {
  const field_obj:any = sort_by.value
  image_list.value.sort((first_element:any, second_element:any) => {
    if ((first_element.gallery[field_obj.key] - second_element.gallery[field_obj.key]) > 0) {
      return field_obj.asc ? 1 : -1
    }
    if ((first_element.gallery[field_obj.key] - second_element.gallery[field_obj.key]) < 0) {
      return field_obj.asc ? -1 : 1
    }
    if ((first_element.gallery[field_obj.key] - second_element.gallery[field_obj.key]) === 0) {
      return 0
    }
  })
}


watch(sort_by,
  async () => {
    applySortOnList()
  },
  {
    deep: true,
  }
)

</script>


<template>
    <v-container fluid>
      <SortGalleryElement v-model="sort_by" />
      <v-row class="mt-4">
        <v-col
          cols="3"
          sm="3"
          v-for="item, index in image_list"
          :key="index"
        >
          <v-card
            class="pa-3 text-center"
          >
            <div>
              {{ item.gallery.name }}
            </div>
            <div>
              count: <strong>{{  item.count }}</strong> - average: <strong>{{ item.gallery.average_played }}</strong>
            </div>
            <v-img
              @click="() => router.push({ name: 'elo-image', params: { gallery_id: item.gallery.id, elo_score_id: item.id } })"
              class="cursor-pointer"
              :height="300"
              :src="item.url"
              :cover="false"
            />
          </v-card>
        </v-col>
      </v-row>
    </v-container>
</template>


<style scoped>
.cursor-pointer {
  cursor: pointer;
}
</style>